<p class="somecolor"> 
Hello, What is your name?
</p>
<form method="post" action="/name" name_form"  onsubmit=
"return validationForm()"> 

	<input type="text" name="input_name">

	<input type="submit">

</form>

